.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .wrapper {
    max-width:1000px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
    .imageArea {
      width: 45%;
      border-radius: 10px;
      overflow: hidden;
      
      img {
        width: 100%;
        animation: fadeIn 0.2s ease-in ;
      }
     
    }
    .detailsArea {
      width: 45%;
      animation: fadeIn 0.2s ease-in ;
      
      h1 {
        margin-block-start: 0;
        margin-block-end: 0.67em;
        font-family: 'saria bold';
        &::first-letter {
          text-transform: uppercase;
        }
        padding: 5px;
      }

      .branding {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 12px;

        h2 {
          font-family: 'inter regular'
        }

        .profile {
          padding: 5px; 
          width: 40px;  
          img {
            width: 100%;
          }
        }
        
      }
     
      .location {
        padding: 5px; 
        font-size: 10px;
        color: #636e72;
        font-family: 'Open Sans', sans-serif;
      }

      .mapContainer { 
        margin-top:60px;
        position: relative;
        height: 200px
      }
     
    }
  }
  
}


@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(10%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
