.container {
  padding: 7px 14px;
  background-color: #ED4C67;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  font-family: 'saria bold';
}