/**
 * Created by Deegha on 19/03/2019
 */
 
.container {
  display: block;

  .wrapper {
    
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .filterWrapper {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

// .container {

//   .filterWrapper {
//     padding: 10px;
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//   }
// }


.noContent {

  color: #ced6e0;
  height: 100px;
  font-family: 'Inter regular';
  font-size: 20px;
  margin-top: 100px;
}