/**
 * Created by Deegha on 19/03/2019
 */
 
body {
  margin: 0;
}
.body {
  font-family: 'Roboto', sans-serif;
  
  margin: 0;
}


@font-face {
  font-family: "saria black";
  src: url("/static/fonts/SairaExtraCondensed-Black.ttf")
}

@font-face {
  font-family: "saria bold";
  src: url("/static/fonts/SairaExtraCondensed-Bold.ttf")
}

@font-face {
  font-family: "saria regular";
  src: url("/static/fonts/SairaExtraCondensed-Regular.ttf")
}

@font-face {
  font-family: "saria thin";
  src: url("/static/fonts/SairaExtraCondensed-Thin.ttf")
}

@font-face {
  font-family: "inter black";
  src: url("/static/fonts/Inter-Black.woff")
}

@font-face {
  font-family: "inter bold";
  src: url("/static/fonts/Inter-Bold.woff")
}

@font-face {
  font-family: "inter regular";
  src: url("/static/fonts/Inter-Regular.woff")
}

